<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="UnsubBizSMSWebService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <!--Produkciona baza-->
    <add name="BizSMS" connectionString="Data Source=sqlagweb1.it.telekom.yu;Database=BizSMS;Integrated Security=False;User ID=bizsms;Password=B1z.sms!" providerName="System.Data.SqlClient"/>
    
    <!--Testna baza-->
    <!--<add name="BizSMS" connectionString="Data Source=kasql14testdb.it.telekom.yu;Database=BizSMS;Integrated Security=False;User ID=bizsms;Password=B1z.sms!" providerName="System.Data.SqlClient"/>-->
    
    <!--Testna baza SQL 2017-->
    <!--<add name="BizSMS" connectionString="Data Source=KASQL171DB.it.telekom.yu;Database=BizSMS-TEST;Integrated Security=False;User ID=bizsms;Password=B1z.sms!" providerName="System.Data.SqlClient"/>-->


    <!--<add name="BizSMS" connectionString="Data Source=kasql14testdb.it.telekom.yu;Database=BizSMS;Integrated Security=True;" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <appSettings>
    <!--<SendSistemErrorMail settings-->
    <add key="fromAddress" value="aspad@telekom.rs"/>
    <add key="fromName" value="UnsubscribeBizSMSWebService"/>
    <add key="toAddress" value="it.fintech.partnerski@telekom.rs"/>
    <!--<SendUserSmsUnsubResult SendSMSReference settings-->
    <add key="BadAlphanumException" value="Nepostojeci sender sa kog se odjavljujete ili je pogresno unet kod za odjavu!"/>
    <add key="BadNumberOrCLientIDException" value="Broj telefona sa kog zovete ne pripada servisu sa kog se odjavljujete!"/>
    <add key="BadCLientIDException" value="Pogresno unet kod za odjavu!"/>
    <add key="UserAlreadyUnsubException" value="Korisnicki broj je vec odjavljen!"/>
    <add key="UserInVpnGroupException" value="Korisnicki broj pripada VPN grupi! Nije moguca odjava."/>
    <add key="DatabaseProcessOrSqlException" value="Proces odjave prekinut, molimo vas pokusajte kasnije."/>
    <add key="GeneralException" value="Doslo je do greske, molimo vas pokusajte kasnije ili kontaktirajte administratora ako se ovo ponovi."/>
    <add key="SuccessUnsubscription" value="Uspesno ste odjavljeni sa servisa."/>
    <add key="KeyWordSTOPMissing" value="Tekst poruke nije pravilno napisan, nedostaje kljucna rec STOP"/>
    <add key="Sender" value="Mts_Odjava"/>
    
    <!-- Testni SDP servis BizSMSOdjava -->
    <!--<add key="sdpUsername" value="S-R3X8NLU2181_S-R3X8NLU2181-2_2@P-eJXDU0TgZo0"/>-->
    
    <!-- Produkcioni SDP servis BizSMSOdjava -->
    <add key="sdpUsername" value="S-V07S94BU527_S-V07S94BU527-2_2@P-qJ-J1KxsS46"/>
    
    <add key="sdpPassword" value="telekom1."/>
  </appSettings>
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="false" targetFramework="4.0"/>
    <httpRuntime/>
    <!--<httpModules>
      <add name="TelemetryCorrelationHttpModule"
        type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation"/>
    </httpModules>-->
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="false"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false" multipleSiteBindingsEnabled="true">
      <serviceActivations>
        <add service="UnsubBizSMSWebService.UnsubBizSMSService" relativeAddress="~BizSMS/UnsubBizSMSWebService/UnsubBizSMSService.svc"/>
      </serviceActivations>
    </serviceHostingEnvironment>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <!--<remove name="TelemetryCorrelationHttpModule"/>
      <add name="TelemetryCorrelationHttpModule"
        type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="managedHandler"/>-->
    </modules>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="false"/>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
  <applicationSettings>
    <UnsubBizSMSWebService.Properties.Settings>
      <!--Produkcija-->
      <setting name="UnsubBizSMSWebService_yu_telekom_it_kasdpca2test_SdpService" serializeAs="String">
        <value>http://vassdp.telekom.rs:8780/SubscriptionManagerService/services/Sdp</value>
      </setting>
      <setting name="UnsubBizSMSWebService_SendSMSReference_SendSmsService" serializeAs="String">
        <value>http://vassdp.telekom.rs:27010/ParlayXSmsAccess/services/SendSms</value>
      </setting>
      <setting name="UnsubBizSMSWebService_SendEmailReference_MailService" serializeAs="String">
        <value>http://wsselfcare.telekom.rs/mailservice.asmx</value>
      </setting>
      <setting name="UnsubBizSMSWebService_SendSMShttp2sms_http2sms" serializeAs="String">
        <value>http://http2sms.telekom.rs/http2sms.asmx</value>
      </setting>
      
      <!-- Test -->
      <!--<setting name="UnsubBizSMSWebService_yu_telekom_it_kasdpca2test_SdpService" serializeAs="String">
        <value>http://vassdpqa.telekom.rs:8780/SubscriptionManagerService/services/Sdp</value>
      </setting>
      <setting name="UnsubBizSMSWebService_SendSMSReference_SendSmsService" serializeAs="String">
        <value>http://vassdpqa.telekom.rs:27010/ParlayXSmsAccess/services/SendSms</value>
      </setting>
      <setting name="UnsubBizSMSWebService_SendEmailReference_MailService" serializeAs="String">
        <value>http://wsselfcaretest.telekom.rs/mailservice.asmx</value>
      </setting>
      <setting name="UnsubBizSMSWebService_SendSMShttp2sms_http2sms" serializeAs="String">
        <value>http://kavasraz/http2sms/http2sms.asmx</value>
      </setting>-->
      
    </UnsubBizSMSWebService.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>